@media (min-width: 1024px) {
    header {
        display: unset;
    }

    nav a {
        width: 25%;
    }

    #teddies {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .product-card {
        width: 30%;
    }
    h2{
        width:100%;
    }
}