body {
    font-family: 'Raleway', sans-serif;
    font-weight: normal;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}

h1 {
    font-size: 1.5rem;
}

h2 {
    font-size: 1.2rem;
}

a {
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    color: black;
}

h1 {
    margin-top: 30px;
    margin-bottom: 30px;
}

h2 {
    color: blueviolet;
}

/**** Header****/
header {
    display: flex;
    justify-content: space-around;
    background-color: rgba(243, 233, 241, 1);
    margin-bottom: 30px;
}

header img {
    width: 50%;
}

header nav {
    display: flex;
    align-self: center;

}

nav a {
    font-size: 1.2rem;
    font-weight: bold;
    padding-left: 15px;
    padding-right: 15px;

}

nav a:hover,
footer a:hover {
    color: blueviolet;
    font-weight: bold;
}

/****Footer****/
footer {
    background-color: rgba(243, 233, 241, 1);
    padding-bottom: 20px;
    padding-left: 15px;
    padding-right: 15px;
}

footer h2 {
    width: 100%;
    font-family: "Shrikhand", sans-serif;
    font-size: 1.2rem;
    padding-top: 30px;
    padding-left: 20px;
    margin-top: 0;
}

footer ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style-type: none;
    padding-left: 20px;
}

footer ul li {
    margin-bottom: 10px;
}

footer ul li a {
    font-size: 0.9rem;
    font-weight: bold;
}

footer ul li a:hover {
    font-weight: 800;
}

@media (max-width: 414px) {
    footer {
        justify-content: space-between;
    }
    footer ul li>a {
        width: 50%;
    }
}
@media (min-width: 768px) {
    footer {
        justify-content: center;
    }

    footer h3 {
        width: 100%;
        margin-bottom: 0;
    }

    footer ul li>a {
        font-size: 1rem;
    }
}

/***Form button****/
.button {
    width: 200px;
    border-radius: 20px;
    margin-top: 50px;
    height: 40px;
    color: blueviolet;
    font-weight: bold;
}

.button:hover {
    box-shadow: 6px 6px 6px 6px #d1d0d0;
}

input:invalid {
    border: 2px solid blueviolet;
}
/***Pop-up****/
#modal{
	position: fixed;
	z-index: 99999;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: none;
}
#modal.open{
	display: block;
}
#modal .mask{
	background: black;
	opacity: 0.8;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}
#modal .container{
	position: relative;
	background: white;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	width: 300px;
	height: auto;
	min-height: 50px;
}
#modal .container .message{
	padding: 5% 15% 5% 5%;
}
#modal .container a.close{
	position: absolute;
	right: 5%;
	top:5%;
	color: #444;
	font-size: 30px;
}
#modal .container a.close:hover{		
	color: black;
}